header{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    font-style: normal;
    background-color: #6633ff;
}



p{
    background: none;
    font: "Times New Roman";
    font-size: 24px;
    text-align: center;
    font-style: normal;
}

nav{
    text-align: center;
}

a{
    font: "Times New Roman";
    font-size: 18px;
    text-align: center;
    font-style: normal;
    color: #ffffff;
}

h1{
    background: none;
    font: "Courier New";
    font-size: 24px;
    text-align: center;
    font-style: normal;
}

aside{
    width: 10%;
    height: 100%;
    padding-right: 10px;
    float: left;
    font-style: italic;
    background-color:#999999;
}
